<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=\, initial-scale=1.0"/>
        <title>Select User</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"/>

        <link rel="stylesheet" th:href="@{css/auth-style.css}"/>
        <link rel="stylesheet" th:href="@{css/user-layout-style.css}"/>
    </head>
    <body>
        <div id="layoutAuthentication" class="bg-gradient-primary-to-secondary">
            <!-- Navbar-->
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        WebApp
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mr-lg-5">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/}">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/contactus}">
                                    Support
                                </a>
                            </li>
                            <li class="nav-item text-white">
                                <a class="nav-link" th:href="@{/login}">
                                    Login
                                </a>
                            </li>
                        </ul>
                        <!--                                PLACE HOLDER FOR MULTIPLE TENANT REGISTRATION-->
                        <a class="btn font-weight-500 ml-lg-4 btn-primary" th:href="@{/multi-user-select}">
                            Get Started
                        </a>
                    </div>
                </div>
            </nav>
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center mt-5">
                            <!-- Create Organization-->
                            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-4">
                                <div class="card text-center h-100">
                                    <div class="card-body px-5 pt-5 d-flex flex-column">
                                        <div>
                                            <div class="h3 text-primary font-weight-300">
                                                Manager
                                            </div>
                                            <p class="text-muted mb-4">
                                                Create an organization along with your account
                                            </p>
                                        </div>
                                        <div class="icons align-items-center mx-auto mt-auto">
                                            <img class="icon-users" th:src="@{img/svg/globe.svg}"/>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-transparent px-5 py-4">
                                        <div class="small text-center">
                                            <a class="btn btn-block btn-primary" th:href="@{/register-manager}">
                                                Signup As Manager
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11 mt-4">
                                <div class="card text-center h-100">
                                    <div class="card-body px-5 pt-5 d-flex flex-column align-items-between">
                                        <div>
                                            <div class="h3 secondary font-weight-300">
                                                Resident
                                            </div>
                                            <p class="text-muted mb-4">
                                                Create a basic account
                                            </p>
                                        </div>
                                        <div class="icons align-items-center mx-auto">
                                            <img class="icon-user" th:src="@{img/svg/user.svg}"/>
                                        </div>
                                    </div>
                                    <div class="card-footer bg-transparent px-5 py-4">
                                        <div class="small text-center">
                                            <a class="btn btn-block btn-secondary" th:href="@{/register-user}">
                                                Signup As User
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layout_footer">
                <footer class="footer pt-5 pb-3 mt-5 bg-dark footer-dark">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="footer-brand">WebApp</div>
                                <div class="mb-3">Lorem Ipsum</div>
                            </div>
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="text-uppercase-expanded text-xs mb-4">Welcome</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#">Home</a></li>
                                            <li class="mb-2"><a href="#">Support</a></li>
                                            <li class="mb-2"><a href="#">Get Started</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="text-uppercase-expanded text-xs mb-4">Legal</div>
                                        <ul class="list-unstyled mb-0">
                                            <li class="mb-2"><a href="#">Privacy Policy</a></li>
                                            <li class="mb-2"><a href="#">Terms and Conditions</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-5"/>
                        <div class="row align-items-center">
                            <div class="col-md-6 small">Copyright &copy; Case study 2021</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>