<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=\, initial-scale=1.0"/>
        <title>Register</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous"/>

        <link rel="stylesheet" th:href="@{css/user-layout-style.css}"/>
        <link rel="stylesheet" th:href="@{css/auth-style.css}"/>

    </head>
    <body>
        <div id="layoutAuthentication" class="bg-gradient-primary-to-secondary">
            <!-- Navbar-->
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        WebApp
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto mr-lg-5">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/}">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/contactus}">
                                    Support
                                </a>
                            </li>
                            <li class="nav-item text-white">
                                <a class="nav-link" th:href="@{/login}">
                                    Login
                                </a>
                            </li>
                        </ul>
                        <a class="btn font-weight-500 ml-lg-4 btn-primary" th:href="@{/multi-user-select}">
                            Get Started
                        </a>
                    </div>
                </div>
            </nav>
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card mt-5">
                                    <div class="card-header justify-content-center bg-dark">
                                        <h3 class="my-4">
                                            Register
                                        </h3>
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/register-user}" th:object="${userForm}" method="POST">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="small mb-1" for="fName">
                                                        First name
                                                    </label>
                                                    <input class="form-control" id="fName" th:name="fName" type="text"
                                                           placeholder="First name" required/>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="small mb-1" for="lName">
                                                        Last name
                                                    </label>
                                                    <input class="form-control" id="lName" th:name="lName" type="text"
                                                           placeholder="Last name" required/>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="small mb-1" for="username">
                                                        Username
                                                    </label>
                                                    <input class="form-control" id="username" th:name="username"
                                                           type="text"
                                                           placeholder="Username" required/>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="small mb-1" for="email">
                                                        Email address
                                                    </label>
                                                    <input class="form-control" id="email" type="email" th:name="email"
                                                           placeholder="email address" required/>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="small mb-1" for="password">
                                                        Password
                                                    </label>
                                                    <input class="form-control" id="password" th:name="password"
                                                           type="password"
                                                           placeholder="password" required/>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="small mb-1" for="confirmPassword">
                                                        Confirm Password
                                                    </label>
                                                    <input class="form-control" id="confirmPassword"
                                                           th:name="confirmPassword"
                                                           type="password" placeholder="confirm password" required/>
                                                </div>
                                            </div>
                                            <div class="form-group mt-4 mb-0">
                                                <input class="btn btn-primary btn-block" type="submit" value="Sign up"/>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center bg-dark">
                                        <div class="small">
                                            <a th:href="@{/login}">
                                                Already have an account? Lets login!
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
    </body>
</html>
