<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Tickets</title>

        <!-- Bootstrap CSS -->
        <link
                rel="stylesheet"
                href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous"
        />

        <link rel="stylesheet" th:href="@{css/user-layout-style.css}"/>
        <link rel="stylesheet" th:href="@{css/ticket-style.css}"/>

    </head>
    <body class="nav-fixed bg-dark">
        <nav class="topnav navbar navbar-expand justify-content-between justify-content-sm-start navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html">PMP</a>
            <ul class="navbar-nav ml-auto mr-lg-5">
                <li class="nav-item mr-3">
                    <a class="nav-link" role="button">
                        Register Property
                    </a>
                </li>
                <li class="nav-item mr-3 mr-lg-0">
                    <a class="btn ml-lg-4 btn-primary" th:href="@{/logout}">
                        Log Out
                    </a>
                </li>
            </ul>
        </nav>
        <div id="layout">
            <div id="layout_content">
                <main>
                    <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
                        <div class="container">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-12 col-xl-auto mt-4">
                                        <h2 class="text-white" th:text="${user.getProperty().getAddress()}">
                                        </h2>
                                        <div class="page-header-subtitle">
                                            These tickets belong to you.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <div class="container mt-n10">
                        <div class="row">
                            <div class="col-lg-4 col-xl-3 mb-5">
                                <div class="card bg-transparent">
                                    <div class="list-group list-group-flush small">
                                        <a class="list-group-item list-group-item-action mb-1"
                                           th:href="@{/my-tickets}">
                                            View Open Tickets
                                        </a>
                                        <a class="list-group-item list-group-item-action"
                                           th:href="@{/my-tickets-closed}">
                                            View Closed Tickets
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 col-lg-9">
                                <div class="card bg-transparent mb-5">
                                    <div th:if="${userTickets.isEmpty()}"  class="list-group list-group-flush">
                                        <a href="#"
                                           class="list-group-item list-group-item-action py-4 mb-4">
                                            <div class="d-flex justify-content-between">
                                                <div class="mr-4 d-flex">
                                                    <div>
                                                        <h2>
                                                            You currently have no open tickets.<br/>
                                                            Either they're doing a great job or you're new here.
                                                        </h2>
                                                        <h6 class="card-text">
                                                            probably new...haha :D
                                                        </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div th:each="ticket : ${userTickets}"
                                         class="list-group list-group-flush">
                                        <a th:href="@{/ticket(id=${ticket.getId()})}"
                                           class="list-group-item list-group-item-action py-4 mb-4">
                                            <div class="d-flex justify-content-between">
                                                <div class="mr-4 d-flex">
                                                    <div>
                                                        <span th:text="${#dates.format(ticket.getTimestamp(), 'MM-dd-yyyy')}"
                                                              class="mb-1 small"></span>
                                                        <h6>
                                                            TICKET# <span th:text="${ticket.getId()}"></span>
                                                        </h6>
                                                        <p th:text="${ticket.getDescription()}" class="card-text">
                                                        </p>
                                                        <div class="badge badge-green-soft badge-pill text-green"
                                                             th:text="${ticket.getStatus()}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Create New Ticket
                                    </div>
                                    <div class="card-body">
                                        <form th:action="@{/ticketAction}" method="post">
                                            <textarea class="form-control mb-2" rows="4" th:name="description" th:wrap="physical"
                                                      placeholder="Default status or ticket will be open until review by management"></textarea>
                                            <input class="btn btn-primary btn-sm mr-2" type="submit" value="Create Ticket"/>
                                        </form>
                                        <button class="btn btn-light btn-sm mr-2">
                                            Attach a File
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer mt-auto footer-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">
                                Copyright © Your Website 2021
                            </div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#!">Privacy Policy</a>
                                ·
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
                src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"
        ></script>
        <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"
        ></script>
    </body>
</html>
