.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.35rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
a.badge:focus,
a.badge:hover {
	text-decoration: none;
}
.badge:empty {
	display: none;
}
.badge-pill {
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
}
.badge-red {
	color: #fff;
	background-color: #e81500;
}

.badge-yellow {
	color: #fff;
	background-color: #f4a100;
}

.badge-green {
	color: #fff;
	background-color: #00ac69;
}
.badge-red-soft {
	color: #212832;
	background-color: #f1e0e3;
}
a.badge-red-soft:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(241, 224, 227, 0.5);
}
.badge-yellow-soft {
	color: #212832;
	background-color: #f2eee3;
}
a.badge-yellow-soft:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(242, 238, 227, 0.5);
}
.badge-green-soft {
	color: #212832;
	background-color: #daefed;
} 
.list-group-item-action {
	width: 100%;
	color: #4a515b;
	text-align: inherit;
}
.list-group-item {
	position: relative;
	display: block;
	padding: 0.75rem 1.25rem;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-flush > .list-group-item:last-child {
	border-bottom-width: 0;
}
.text-justify {
	text-align: justify !important;
}
.text-right {
	text-align: right !important;
}
.text-red {
	color: #e81500 !important;
}
.text-yellow {
	color: #f4a100 !important;
}
.text-green {
	color: #00ac69 !important;
}
.text-red-soft {
	color: #f1e0e3 !important;
}
.text-yellow-soft {
	color: #f2eee3 !important;
}  
