.text-teal {
	color: #00ba94 !important;
}
a.text-teal:focus,
a.text-teal:hover {
	color: #006e57 !important;
}
.text-body {
	color: #d8d8d8 !important;
}
.footer a {
	color: inherit !important;
}

.page-header {
	position: relative;
	padding-top: 3rem;
	padding-bottom: 8rem;
	color: #fff;
	background-color: #272a2e;
}
.page-header .page-header-content .page-header-title {
	font-size: 2.5rem;
}
.page-header .page-header-content .page-header-text {
	font-size: 1.15rem;
}
.page-header .page-header-content .page-header-text.small {
	font-size: 0.9rem;
}

body,
html {
	height: 100%;
}
body {
	overflow-x: hidden;
}
section {
	position: relative;
}

.container,
.container-lg,
.container-md {
	padding-left: 3rem;
	padding-right: 3rem;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1.5rem;
	margin-left: -1.5rem;
}
.col-lg,
.col-lg-auto,
.col-lg-12,
.col-lg-11,
.col-lg-10,
.col-lg-9,
.col-lg-8,
.col-lg-7,
.col-lg-6,
.col-lg-5,
.col-lg-4,
.col-lg-3,
.col-lg-2,
.col-lg-1,
.col-md,
.col-md-auto,
.col-md-12,
.col-md-11,
.col-md-10,
.col-md-9,
.col-md-8,
.col-md-7,
.col-md-6,
.col-md-5,
.col-md-4,
.col-md-3,
.col-md-2,
.col-md-1,
.col-sm,
.col-sm-auto,
.col-sm-12,
.col-sm-11,
.col-sm-10,
.col-sm-9,
.col-sm-8,
.col-sm-7,
.col-sm-6,
.col-sm-5,
.col-sm-4,
.col-sm-3,
.col-sm-2,
.col-sm-1,
.col,
.col-auto,
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1 {
	position: relative;
	width: 100%;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

#layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#layout #layout_content {
	min-width: 0;
	flex-grow: 1;
}
#layout #layout_footer {
	min-width: 0;
}

.no-caret .dropdown-toggle::after {
	display: none;
}
.font-weight-100 {
	font-weight: 100 !important;
}
.font-weight-200 {
	font-weight: 200 !important;
}
.font-weight-300 {
	font-weight: 300 !important;
}
.font-weight-400 {
	font-weight: 400 !important;
}
.font-weight-500 {
	font-weight: 500 !important;
}
.font-weight-600 {
	font-weight: 600 !important;
}
.font-weight-700 {
	font-weight: 700 !important;
}
.font-weight-800 {
	font-weight: 800 !important;
}
.font-weight-900 {
	font-weight: 900 !important;
}

.text-xs {
	font-size: 0.75rem !important;
}
.text-uppercase-expanded {
	font-weight: 700;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}
.text-arrow-icon {
	line-height: 1;
	display: inline-flex;
	align-items: center;
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn-primary {
	color: #fff;
	background-color: #0061f2;
	border-color: #0061f2;
}

.btn-icon {
	padding: 0;
	justify-content: center;
	overflow: hidden;
	border-radius: 100%;
	flex-shrink: 0;
	height: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
	width: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
}

.btn-icon .feather {
	margin-top: 0 !important;
}

.btn-icon.btn-lg {
	height: calc((1rem * 1) + (1.125rem * 2) + (2px)) !important;
	width: calc((1rem * 1) + (1.125rem * 2) + (2px)) !important;
}

.btn-icon.btn-xs {
	height: calc((0.7rem * 1) + (0.25rem * 2) + (2px)) !important;
	width: calc((0.7rem * 1) + (0.25rem * 2) + (2px)) !important;
	border-radius: 100%;
}

.btn-icon.btn-link {
	text-decoration: none;
}
.btn .feather {
	margin-top: -1px;
	height: 0.875rem;
	width: 0.875rem;
}
.btn-lg .feather {
	height: 1rem;
	width: 1rem;
}

.btn-xs .feather {
	height: 0.7rem;
	width: 0.7rem;
}

.btn-xs {
	padding: 0.25rem 0.5rem;
	font-size: 0.7rem;
	border-radius: 0.35rem;
	line-height: 1;
}
.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.navbar.navbar-dark {
	color: whitesmoke;
}



.mb-4,
.my-4 {
	margin-bottom: 1.5rem !important;
}

.mb-5,
.my-5 {
	margin-bottom: 3rem !important;
}

.pt-10,
.py-10 {
	padding-top: 6rem !important;
}

.pb-10,
.py-10 {
	padding-bottom: 6rem !important;
}

.footer {
	font-size: 0.875rem;
}

.footer .footer-brand {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 0.25rem;
}

.footer.footer-dark {
	color: rgba(255, 255, 255, 0.6);
}

.footer.footer-dark hr {
	border-color: rgba(255, 255, 255, 0.1);
}

.footer.footer-light {
	color: #a7aeb8;
}

.icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	height: 2.5rem;
	width: 2.5rem;
	font-size: 1rem;
	background-color: #f2f6fc;
}
.icon-stack svg {
	height: 1rem;
	width: 1rem;
}

.icon-xl {
	height: 5rem;
	width: 5rem;
	font-size: 1.75rem;
}
.icon-xl svg {
	height: 1.75rem;
	width: 1.75rem;
}

.form-group {
	margin-bottom: 1rem;
}

.form-control {
	display: block;
	width: 100%;
	height: calc(1em + 1.75rem + 2px);
	padding: .9rem 1rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1;
	color: #69707a;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #c5ccd6;
	border-radius: 0.35rem;
}

textarea.form-control {
	height: auto;
}
.form-group {
	margin-bottom: 1rem;
}
.section-preheading {
	color: white;
}

label {
	color: white;
}
