.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.35rem;
}
.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #0061f2;
	background-color: #fff;
	border: 1px solid #d4dae3;
}

.pagination .page-item {
	margin-left: 0.25rem;
	margin-right: 0.25rem;
}
.pagination .page-item:first-child {
	margin-left: 0;
}
.pagination .page-item:last-child {
	margin-right: 0;
}
.pagination .page-item .page-link {
	border-radius: 0.35rem;
	border: none;
	padding: 0.75rem 1rem;
	font-weight: 700;
	font-size: 0.9rem;
}
