ol, ul, dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.35rem;
}

.pagination {
	display: flex;
	padding-left: 0;
	list-style: none;
	border-radius: 0.35rem;
}

.pagination-table .page-item:first-child {
	margin-left: 0;
}

.page-link {
	position: relative;
	display: block;
	padding: 0.5rem 0.75rem;
	margin-left: -1px;
	line-height: 1.25;
	color: #0061f2;
	background-color: #fff;
	border: 1px solid #d4dae3;
}