article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

body {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}
ul {
	margin-top: 0;
	margin-bottom: 1rem;
}
ul ul {
	margin-bottom: 0;
}
small {
	font-size: 80%;
}

button {
	border-radius: 0;
}
button {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}

.h1,
h1 {
	font-size: 1.5rem;
}
.h2,
h2 {
	font-size: 1.4rem;
}
.h3,
h3 {
	font-size: 1.3rem;
}
.h4,
h4 {
	font-size: 1.2rem;
}
.h5,
h5 {
	font-size: 1.1rem;
}
.h6,
h6 {
	font-size: 1rem;
}
.small,
small {
	font-size: 0.875em;
	font-weight: 400;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
	width: 100%;
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -0.75rem;
	margin-left: -0.75rem;
}


.btn {
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	user-select: all;
	border: 2px white solid;
	padding: 0.875rem 1.125rem;
	font-size: 0.875rem;
	line-height: 1;
}

.btn-primary {
	color: #fff;
	background-color: #0061f2;
	border-color: #0061f2;
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.navbar.navbar-dark {
	color: whitesmoke;
}

.navbar-brand {
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(33, 40, 50, 0.125);
	border-radius: 0.35rem;
}
.card-body {
	flex: 1 1 auto;
	min-height: 1px;
	padding: 1.35rem;
}
.card-title {
	margin-bottom: 1rem;
}
.card-subtitle {
	margin-top: -0.5rem;
	margin-bottom: 0;
}

.card-header {
	display: flex;
	padding: 1rem 1.35rem;
	margin-bottom: 0;
	background-color: rgba(33, 40, 50, 0.03);
	border-bottom: 1px solid rgba(33, 40, 50, 0.125);
	align-items: center;
}
.card-header:first-child {
	border-radius: 0.35rem 0.35rem 0 0;
}
.card-footer {
	padding: 1rem 1.35rem;
	background-color: rgba(33, 40, 50, 0.03);
	border-top: 1px solid rgba(33, 40, 50, 0.125);
	align-content: flex-end;
}
.card-footer:last-child {
	border-radius: 0 0 0.35rem 0.35rem;
}

.bg-primary {
	background-color: #0061f2 !important;
}

.bg-secondary {
	background-color: #6900c7 !important;
}

.bg-dark {
	background-color: #212832 !important;
}

.justify-content-start {
	justify-content: flex-start !important;
}
.justify-content-center {
	justify-content: center !important;
}
.justify-content-between {
	justify-content: space-between !important;
}
.align-items-start {
	align-items: flex-start !important;
}
.align-items-center {
	align-items: center !important;
}
.align-content-start {
	align-content: flex-start !important;
}
.align-content-center {
	align-content: center !important;
}
.align-content-between {
	align-content: space-between !important;
}

.mt-3 {
	margin-top: 1rem !important;
}
.mr-3 {
	margin-right: 1rem !important;
}
.ml-3 {
	margin-left: 1rem !important;
}
.mt-4 {
	margin-top: 1.5rem !important;
}
.mr-4 {
	margin-right: 1.5rem !important;
}
.ml-4 {
	margin-left: 1.5rem !important;
}
.pt-4 {
	padding-top: 1.5rem !important;
}
.pb-4 {
	padding-bottom: 1.5rem !important;
}
.pt-10 {
	padding-top: 6rem !important;
}
.pb-10 {
	padding-bottom: 6rem !important;
}
.mt-n10 {
	margin-top: -6rem !important;
}
.mr-n10 {
	margin-right: -6rem !important;
}
.ml-n10 {
	margin-left: -6rem !important;
}
.mt-auto {
	margin-top: auto !important;
}
.mr-auto {
	margin-right: auto !important;
}
.ml-auto {
	margin-left: auto !important;
}
body,
html {
	height: 100%;
}

#layout_content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 0;
	flex-grow: 1;
	min-height: calc(100vh - 3.625rem);
	margin-left: -15rem;
}

.bg-gradient-primary-to-secondary {
	background-color: #0061f2;
	background-image: linear-gradient(
			135deg,
			#0061f2 0,
			rgba(105, 0, 199, 0.8) 100%
	);
}
.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.card-header .btn {
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	user-select: all;
	padding: 0.875rem 1.125rem;
	font-size: 0.875rem;
}
.card .card-header {
	font-weight: 1000;
}

.card.bg-dark .card-footer,
.card.bg-dark .card-header {
	border-color: rgba(255, 255, 255, 0.15);
}

.page-header .page-header-content {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.page-header .page-header-content .page-header-title {
	line-height: normal;
	font-size: 2.25rem;
	font-weight: 500;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}
.page-header .page-header-content .page-header-subtitle {
	font-size: 1.15rem;
	margin-top: 0.25rem;
}
.page-header.page-header-dark {
	color: rgba(255, 255, 255, 0.5);
}
.page-header.page-header-dark .page-header-title {
	color: #fff;
}
.page-header.page-header-dark .page-header-subtitle {
	color: rgba(255, 255, 255, 0.5);
}

.btn-yellow {
	background-color: #f4a100;
	border-color: #111111;
}
.btn-red {
	background-color: #f43100;
	border-color: #111111;
}
.btn-blue {
	background-color: #007ef4;
	border-color: #111111;
}

.btn-green {
	background-color: #06bd00;
	border-color: #111111;
}
.btn-icon {
	padding: 0;
	justify-content: center;
	overflow: hidden;
	border-radius: 100%;
	flex-shrink: 0;
	height: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
	width: calc((0.875rem * 1) + (0.875rem * 2) + (2px)) !important;
}

a.badge:focus,
a.badge:hover {
	text-decoration: none;
}
.badge:empty {
	display: none;
}
.badge-pill {
	padding-right: 0.6em;
	padding-left: 0.6em;
	border-radius: 10rem;
}
.badge-red {
	color: #fff;
	background-color: #e81500;
}

.badge-yellow {
	color: #fff;
	background-color: #f4a100;
}

.badge-green {
	color: #fff;
	background-color: #00ac69;
}
.badge-red-soft {
	color: #212832;
	background-color: #f1e0e3;
}
a.badge-red-soft:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(241, 224, 227, 0.5);
}
.badge-yellow-soft {
	color: #212832;
	background-color: #f2eee3;
}
a.badge-yellow-soft:focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(242, 238, 227, 0.5);
}
.badge-green-soft {
	color: #212832;
	background-color: #daefed;
}

.modal {
	color: #111111;
}

.form-group {
	margin-bottom: 1rem;
}

textarea.form-control {
	height: auto;
}

.section-preheading {
	color: white;
}
